root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

indent_size = 4
indent_style = space

tab_width = 4

max_line_length = 80

[*.{coffee,css,ex,exs,html,js,json}]
indent_size = 2

[{.gitconfig,sxhkdrc,Makefile}]
indent_style = tab

[*.md]
max_line_length = 0
