root = true

[*]
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

indent_size = 4

[*.{js,html,css,json,ex,exs,coffee}]
indent_size = 2

[{.gitconfig}]
indent_style = tab
