[alias]
	ami = commit -a --amend --no-edit
	co = checkout
	cp = cherry-pick
	last = log -1 HEAD
	lg = log --oneline --abbrev --graph
	st = status
	unstage = reset HEAD --
[color]
	ui = auto
[commit]
	verbose = true
[core]
	excludesfile = ~/.gitignore
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
	helper = cache --timeout=1800
[diff]
	tool = vimdiff
[fetch]
	prune = true
[merge]
	tool = vimdiff
[push]
	default = simple
[remote]
	pushDefault = origin
[user]
	email = strburst@users.noreply.github.com
	name = Allen Zheng
