[user]
	name = Allen Zheng
	email = strburst@users.noreply.github.com
[color]
	ui = auto
[push]
	default = simple
[diff]
	tool = vimdiff
[credential]
	helper = cache --timeout=1800
[alias]
	co = checkout
    logt = log --oneline --abbrev --graph
	st = status
[merge]
	tool = vimdiff
