[user]
	name = Allen Zheng
	email = strburst@users.noreply.github.com
[color]
	ui = auto
[push]
	default = simple
[diff]
	tool = vimdiff
[credential]
	helper = cache --timeout=1800
[alias]
	co = checkout
	lg = log --oneline --abbrev --graph
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
[merge]
	tool = vimdiff
[fetch]
	prune = true
[pull]
	rebase = true
