# Ignore emacs plugins and backups
/.emacs.d/*
!/.emacs.d/custom.el
!/.emacs.d/init.el
!/.emacs.d/lisp
!/.emacs.d/snippets

# Ignore weechat logs and plugin directories
/.weechat/logs
/.weechat/perl
/.weechat/python
/.weechat/script
/.weechat/weechat.log

/qutebrowser/*
!/qutebrowser/keys.conf
!/qutebrowser/qutebrowser.conf
