! No scrollbar
URxvt.scrollBar: false

! Fonts and fallback fonts. By the way, this UTF-8 demo is pretty useful:
! https://www.cl.cam.ac.uk/~mgk25/ucs/examples/UTF-8-demo.txt
URxvt.font: xft:Terminus:size=10:antialias=true:hinting=true, \
            xft:Bistream Vera Sans Mono:size=10:antialias=true:hinting=true, \
            xft:Anonymous Pro:size=10:antialias=true:hinting=true

! Disable keycap picture insert mode
URxvt.iso14755: false

! Source the colorscheme
#include ".color.Xresources"
