! No scrollbar
URxvt.scrollBar: false

! Scroll in pagers properly with the scrollwheel
URxct.secondaryScreen: 1
URxct.secondaryScroll: 0

! Don't scroll to the bottom if we're looking at previous output
URxvt*scrollTtyOutput:   false
URxvt*scrollWithBuffer:  true
! Unless a key is pressed
URxvt*scrollTtyKeypress: true

! Fonts and fallback fonts. By the way, this UTF-8 demo is pretty useful:
! https://www.cl.cam.ac.uk/~mgk25/ucs/examples/UTF-8-demo.txt
! Tip: printf '\e]710;%s\007' "<font declaration>" changes the font instantly
URxvt.font: xft:Terminess Powerline:size=12:antialias=true:hinting=true, \
            xft:Bistream Vera Sans Mono:size=12:antialias=true:hinting=true, \
            xft:Hack:size=12:antialias=true:hinting=true, \
            xft:Anonymice Powerline:size=12:antialias=true:hinting=true

! Disable keycap picture insert mode
URxvt.iso14755: false

! Source the colorscheme
#include ".Xresources.light"
